* {
    padding: 0;
    margin: 0;
    border: transparent;
    font-family: 'Raleway', sans-serif;
}

:root {
    --fc-primary: #0065fc;
    --fc-secondary: #deebff;
    --bg-color-primary: #f2f2f2;
}

header {
    position: relative;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

section {
    margin: 2em 1rem;
    padding: 0 1rem;
}

p {
    font-size: 0.8em;
}

footer {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--bg-color-primary, hsl(0, 0%, 92%));
}

.navbar-container {
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.5em;
    padding: 1.3rem 1rem;
    gap: 2rem;
}

.nav-brand {
    position: absolute;
    top: 10%;
    left: 5%;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.first-nav-item {
    color: var(--fc-primary, blue);
    font-weight: 400;
    min-width: 50%;
    text-align: center;
    box-shadow: 0 0.9em white, 0 1em var(--fc-primary);
}

.second-nav-item {
    font-weight: 400;
    min-width: 50%;
    text-align: center;
    box-shadow: 0 0.9em white, 0 1em var(--bg-color-primary);
}

.third-nav-item {
    text-align: end;
    color: var(--fc-primary, blue);
    font-weight: 600;
    padding-top: 0.5em;
}

.location-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
}

.thinner {
    font-weight: 500;
}

.form-wrapper {
    margin-top: 1rem;
}

.location-icon-wrapper {
    border-radius: 5px 0px 0px 5px;
    background-color: rgb(243, 243, 243);
    padding: 0.4rem 0.6rem;
}

#location {
    border-color: rgb(236, 236, 236);
    border-width: thin;
    padding: 0.25rem 0.3rem;
    font-weight: 600;
}

.search-icon-wrapper {
    border-radius: 5px 5px 5px 5px;
    background-color: var(--fc-primary, blue);
    color: white;
    padding: 0.4rem 0.6rem;
    transform: scale(1.2);
}

.section-title {
    margin-bottom: 2em;
    margin-left: 2em;
    align-self: flex-start;
}

.filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2%;
    flex-grow: 1;
}

.filter {
    border: 1px solid lightgrey;
    padding: 0.3rem 0.4rem;
    max-width: 10rem;
    border-radius: 25px;
    font-weight: 500;
    margin: 0.3rem 0;
}

.filter-icon-wrapper {
    border-radius: 50%;
    background-color: var(--fc-secondary);
    color: var(--fc-primary);
    padding: 0.6rem 0.7rem;
    margin-right: 0.6rem;
    transform: scale(1.4);
}

.info-wrapper {
    display: flex;
    gap: 0.7em;
    margin: 1em 2em;
}

.popular-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-header-wrapper {
    display: flex;
    justify-content: space-between;
}

.popular-cards-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--bg-color-primary);
    border-radius: 5px;
    padding: 1em 1em;
    max-width: 35em;
}

.popular-card {
    display: flex;
    align-items: center;
    height: 7em;
    max-width: 100%;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 1px 1px 5px 5px #f0f0f0;
}

.popular-img {
    min-width: 35%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    object-position: center center;
}

.stars-full {
    color: var(--fc-primary);
    font-size: 0.8em;
}

.stars-empty {
    color: lightgrey;
    font-size: 0.8em;
}

.stars-wrapper {
    display: flex;
    margin: 0.5em 0.7em;
}

.card-description {
    background-color: white;
    min-width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.accomodation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.acc-container-title {
    align-self: flex-start;
    margin-left: 2em;
}

.accomodation-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.accomodation-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: max(15em, 30%);
    max-width: 20em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 5px #f0f0f0;
    background-color: white;
    gap: 0.5em;
    padding: 0.3em;
}

.acc-title,
.acc-price {
    margin: 0 1em;
}

.accomodation-img {
    width: 100%;
    max-height: 6em;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    object-position: top 7em center;
}

.activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activities-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.activities-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 25em;
    min-width: 15em;
    border-radius: 25px;
    box-shadow: 1px 1px 5px 5px #f0f0f0;
}

.activities-img {
    width: 100%;
    max-height: 6em;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    object-position: top 7em center;
}

.activities-description {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    padding: 1em 0.5em;
}

.footer-item {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.footer-item-title {
    margin-bottom: 0.3em;
}

@media (min-width: 45em) {
    .activities {
        display: block;
    }

    .activities-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: 100vw;
        max-height: 75em;
    }

    .activities-card {
        width: 20em;
    }

    .activities-img {
        min-height: 13em;
    }

    .activities-img-high {
        min-height: 30em;
    }

    .activites-img-medium {
        min-height: 18em;
    }
}

@media (min-width: 66em) {
    main {
        margin: 1em 4em;
    }

    footer {
        flex-direction: row;
        justify-content: flex-start;
        padding: 2em 4em;
        gap: 20%;
        margin: 1em 2em;
        align-items: flex-start;
    }

    p {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.8em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.2em;
    }

    .container {
        width: 100%;
    }
    .navbar-container {
        display: flex;
        flex-direction: row;
        padding: 3rem 4rem;
        gap: 3em;
        justify-content: flex-end;
        font-size: 1.5em;
    }
    .first-nav-item {
        box-shadow: 0 -0.9em white, 0 -1em blue;
        margin: 0 2em;
    }

    .second-nav-item {
        box-shadow: 0 -0.9em white, 0 -1em var(--bg-color-primary);
        margin: 0 2em;
    }

    .third-nav-item {
        padding-top: 0;
        margin: 0 2em;
    }

    .nav-brand {
        position: absolute;
        top: 30%;
        left: 5%;
    }

    .filters {
        display: flex;
        gap: 3em;
    }

    .lg-grid-wrapper {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(12, 1fr);
        width: 100%;
    }

    .popular-container {
        grid-column: 8 / 13;
        grid-row: 1/2;
    }

    .popular-cards-container {
        padding: 2em;
        border-radius: 2em;
        min-height: 65vh;
        justify-content: space-around;
    }

    .popular-header-wrapper {
        justify-self: flex-start;
    }

    .accomodation-container {
        grid-column: 1 / 8;
        grid-row: 1/2;
        background-color: var(--bg-color-primary);
        padding: 2em;
        border-radius: 2em 2em;
        min-height: 65vh;
        justify-content: space-around;
        align-items: start;
        align-content: center;
    }

    .accomodation-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .activities {
        grid-column: 2/12;
        justify-items: center;
        align-items: center;
    }

    .activities-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: 100vw;
        max-height: 50em;
    }

    .activities-card {
        width: 15em;
    }

    .activities-img {
        min-height: 11em;
    }

    .activities-img-high {
        min-height: 25em;
    }

    .activites-img-medium {
        min-height: 15em;
    }
}

@media (min-width: 90em) {
    .activities-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: 100vw;
        max-height: 50em;
    }

    .activities-card {
        width: 20em;
    }

    .activities-img {
        min-height: 13em;
    }

    .activities-img-high {
        min-height: 30em;
    }

    .activites-img-medium {
        min-height: 18em;
    }
}
