* {
    padding: 0;
    margin: 0;
    border: transparent;
    font-family: 'Raleway', sans-serif;
}

header {
    position: relative;
}

section {
    margin: 2em 1rem;
    padding: 0 1rem;
}

p {
    font-size: 0.8em;
}

footer {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: hsl(0, 0%, 92%);
}

.navbar-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 1.3rem 1rem;
    gap: 2rem;
}

.nav-brand {
    position: absolute;
    top: 10%;
    left: 5%;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
}

.first-nav-item {
}

.second-nav-item {
}

.third-nav-item {
    text-align: end;
}

.location-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
}

.thinner {
    font-weight: 500;
}

.form-wrapper {
    margin-top: 1rem;
}

.location-icon-wrapper {
    border-radius: 5px 0px 0px 5px;
    background-color: rgb(243, 243, 243);
    padding: 0.4rem 0.6rem;
}

#location {
    border-color: rgb(236, 236, 236);
    border-width: thin;
    padding: 0.25rem 0.3rem;
    font-weight: 600;
}

.search-icon-wrapper {
    border-radius: 5px 5px 5px 5px;
    background-color: blue;
    color: white;
    padding: 0.4rem 0.6rem;
    transform: scale(1.2);
}

.section-title {
    margin-bottom: 0.5rem;
}

.filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.2rem;
}

.filter {
    border: 1px solid lightgrey;
    padding: 0.3rem 0.4rem;
    max-width: 10rem;
    border-radius: 25px;
    font-weight: 500;
    margin: 0.3rem 0;
}

.filter-icon-wrapper {
    border-radius: 50%;
    background-color: #dbecff;
    color: #2157cc;
    padding: 0.6rem 0.7rem;
    margin-right: 0.6rem;
    transform: scale(1.4);
}

.info-wrapper {
    display: flex;
    gap: 0.7em;
    margin: 1em 2em;
}

.popular-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-header-wrapper {
    display: flex;
    justify-content: space-between;
}

.popular-cards-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: hsl(0, 0%, 95%);
    border-radius: 5px;
    padding: 1em 1em;
    max-width: 18em;
}

.popular-card {
    display: flex;
    align-items: center;
    height: 6em;
    max-width: 100%;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 1px 1px 5px 5px #f0f0f0;
}

.popular-img {
    width: 35%;
    min-height: 6em;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    object-position: center center;
}

.stars-full {
    color: #2157cc;
    font-size: 0.8em;
}

.stars-empty {
    color: lightgrey;
    font-size: 0.8em;
}

.stars-wrapper {
    display: flex;
    margin: 0 0.7em;
}

.card-description {
    background-color: white;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em 0.5em;
}

.accomodation-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.accomodation-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.accomodation-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 13em;
    max-width: 20em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 5px #f0f0f0;
    background-color: white;
    gap: 0.5em;
    padding: 0.3em;
}

.acc-title,
.acc-price {
    margin: 0 1em;
}

.accomodation-img {
    width: 100%;
    max-height: 6em;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    object-position: top 7em center;
}

.activities-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.activities-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    border-radius: 25px;
    box-shadow: 1px 1px 5px 5px #f0f0f0;
}

.activities-img {
    width: 100%;
    max-height: 6em;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    object-position: top 7em center;
}

.activities-description {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    padding: 1em 0.5em;
}

.footer-item {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.footer-item-title {
    margin-bottom: 0.3em;
}

@media (min-width: 66em) {
    main {
        margin: 1em 2em;
    }

    footer {
        flex-direction: row;
        justify-content: flex-start;
        padding: 2em 4em;
        gap: 20%;
        margin: 1em 2em;
        align-items: flex-start;
    }

    .container {
        width: 100%;
    }
    .navbar-container {
        display: flex;
        flex-direction: row;
        padding: 3rem 4rem;
        gap: 4rem;
        justify-content: flex-end;
    }

    .nav-brand {
        position: absolute;
        top: 30%;
        left: 5%;
    }

    .lg-grid-wrapper {
        display: grid;
        align-items: flex-start;
        justify-items: flex-start;
        grid-template-columns: repeat(12, 1fr);
        width: 100%;
    }

    .popular-container {
        grid-column: 8 / 13;
        grid-row: 1/2;
    }

    .popular-cards-container {
        padding: 2em;
        border-radius: 2em;
        min-height: 65vh;
        justify-content: space-around;
    }

    .popular-header-wrapper {
        justify-self: flex-start;
    }

    .accomodation-container {
        grid-column: 1 / 8;
        grid-row: 1/2;
        background-color: hsl(0, 0%, 93%);
        padding: 2em;
        border-radius: 2em 2em;
        min-height: 65vh;
    }

    .accomodation-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
