* {
    padding: 0;
    margin: 0;
    border: transparent;
    font-family: 'Raleway', sans-serif;
}

header {
    position: relative;
}

main {
    padding: 1rem 2rem;
    margin: 0 auto;
}

section {
    margin: 1rem auto;
}

.navbar-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 1.3rem 1rem;
    gap: 2rem;
}

@media (min-width: 40em) {
    .navbar-container {
        display: flex;
        flex-direction: row;
        padding: 1rem 1rem;
        gap: 2rem;
        justify-content: flex-end;
    }
}

.nav-brand {
    position: absolute;
    top: 10%;
    left: 5%;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
}

.first-nav-item {
}

.second-nav-item {
}

.third-nav-item {
    text-align: end;
}

.location-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
}

.location-form-container > * {
    width: 100 %;
}

.thinner {
    font-weight: 500;
}

.form-wrapper {
}

.location-icon-wrapper {
    border-radius: 5px 0px 0px 5px;
    background-color: lightgrey;
    padding: 0.4rem 0.6rem;
}

#location {
    border-color: lightgrey;
    border-width: thin;
    padding: 0.25rem 0.3rem;
    font-weight: 600;
}

.search-icon-wrapper {
    border-radius: 5px 5px 5px 5px;
    background-color: blue;
    color: white;
    padding: 0.4rem 0.6rem;
    transform: scale(1.2);
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.2rem;
}

.filter {
    border: 1px solid grey;
    padding: 0.3rem 0.4rem;
    max-width: 10rem;
    border-radius: 25px;
    font-weight: 500;
    margin: 0.3rem 0;
}

.filter-icon-wrapper {
    border-radius: 50%;
    background-color: lightblue;
    color: darkblue;
    padding: 0.5rem 0.5rem;
    margin-right: 0.6rem;
    transform: scale(1.4);
}
